<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JOIN</title>
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/join.js}"></script>
</head>
<body>
    <p><a th:href="@{/}">HOME</a></p>
    <h1>회원가입</h1>

    <form id="joinForm" action="/member/join" method="post">
        <table border="1">
            <tr>
                <td>아이디</td>
                <td><input type="text" id="memberId" name="id"></td>
            </tr>
            <tr>
                <td>비밀번호</td>
                <td><input type="password" id="password" name="password"></td>
            </tr>
            <tr>
                <td>이름</td>
                <td><input type="text" id="name" name="name"></td>
            </tr>
            <tr>
                <td>이메일</td>
                <td><input type="email" id="email" name="email"></td>
            </tr>
        </table>
        <button type="button" id="joinButton">가입</button>
    </form>

</body>
</html>