.wrap {
    width: 900px;
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 15px;
}

td:first-child {
    width: 20%;
    background-color: #f3ffe6;
    font-weight: bold;
}

input, select, textarea {
    width: 95%;
    padding: 8px;
}

textarea {
    height: 200px;
}

button {
    padding: 10px 40px;
}