<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">

</head>
<body>
    <div class="container">
        <h1>HOME</h1>

        <!-- 로그인 전 -->
        <div sec:authorize="isAnonymous()">
            <a th:href="@{/member/joinForm}">회원가입</a>
            <a th:href="@{/member/loginForm}">로그인</a>
        </div>

        <!-- 로그인 후 -->
        <div sec:authorize="isAuthenticated()">
            <a th:href="@{member/logout}">로그아웃</a>
            <a th:href="@{/member/mypage}">마이페이지</a>
            <a th:href="@{/board/list}">게시판</a>
        </div>
    </div>


</body>
</html>